<%= form_for @task, remote: true do |f| %>
  <div class="form-group">
    <%= f.text_field :description, placeholder: "Describe the Task", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field :deadline, id: "datetimepicker1", placeholder: "When Is It Due?", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.button :Submit, class: "btn btn-info" %>
  </div>
<% end %>
