<div class="row">
	<div class="col-md-3">
		<div id="new_btn">
			<%= link_to new_task_path, remote: true do %>
	      <button class="btn btn-success mtop-25">
	      	<i class="fa fa-plus-circle"></i> Add Task
	      </button>
	    <% end %>
	  </div>
		<div id="task-form" style="display:none;" class="mtop-25"></div>
	</div>
	<div class="col-md-4 col-md-offset-1">
		<h2>Upcoming Tasks</h2>
		<div id="soon_tasks">
		  <div class="row">
		    <%= render @upcoming_tasks %>
		  </div>
		</div>
	</div>
	<div class="col-md-4">
		<h2>All Tasks</h2>
		<div id="tasks">
		  <div class="row">
		    <%= render @tasks %>
		  </div>
		</div>
	</div>
</div>